<%= form_for @question, :url => 'gamemaster/create', :html => {:multipart => true} do |f| %>
  <%= f.file_field :ques_text %>
  <br></br>
  <span>Chapter: </span>
  <%= f.text_field :chapter %>
  <br></br>
  <span>Answer: </span>
  <%= f.text_field :answer %>
  <br></br>
  <%= f.submit %>
<% end %>

