/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body {
  background-color: #aaaaaa;
}

body * {
  font-size: 18px;
}

.main_block {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background-color: #dddddd;
  padding: 20px 50px 50px;
  box-shadow: 20px 20px 10px #888888;
  border-radius: 30px;
}

.main_block h1, h2 {
  text-align: center;
  color: #aaaaaa;
  font-size: 84px;
  font-weight: bold;
  margin: 50px 0px 0px;
  text-shadow: 0px -2px 0px #ffffff;
}

.main_block h2 {
  font-size: 40px;
  font-weight: normal;
  margin: 0px;
  padding: 20px 0px;
}

.main_block hr {
  margin: 20px 0px 40px;
}

.main_block > div {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;

  display: -moz-box;
  -moz-box-align: center;
  -moz-box-pack: center;

  display: box;
  box-align: center;
  box-pack: center;

  text-align: center;
  background-color: #cccccc;
  border-radius: 12px;
  padding: 17px 27px 10px 20px;
  box-shadow: 7px 7px 4px #aaaaaa inset;
  margin: 20px 0px;
}

